[project]
	description = Downloads a file and shows its progress
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shlomi Ben-David (shlomibendavid)
[access "refs/for/refs/*"]
	read = group user/Shlomi Ben-David (shlomibendavid)
	push = group user/Shlomi Ben-David (shlomibendavid)
	label-Code-Review = -2..+2 group user/Shlomi Ben-David (shlomibendavid)
	label-Verified = -1..+1 group user/Shlomi Ben-David (shlomibendavid)
	rebase = group user/Shlomi Ben-David (shlomibendavid)
	removeReviewer = group user/Shlomi Ben-David (shlomibendavid)
	submit = group user/Shlomi Ben-David (shlomibendavid)
[access "refs/heads/*"]
	read = group user/Shlomi Ben-David (shlomibendavid)
	create = group user/Shlomi Ben-David (shlomibendavid)
	push = +force group user/Shlomi Ben-David (shlomibendavid)
	pushMerge = group user/Shlomi Ben-David (shlomibendavid)
[access "refs/tags/*"]
	push = +force group user/Shlomi Ben-David (shlomibendavid)
	pushTag = group user/Shlomi Ben-David (shlomibendavid)
	pushSignedTag = group user/Shlomi Ben-David (shlomibendavid)
